
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Ajustar el ancho total según tus necesidades */
  display: flex;
}

.form-container {
  flex: 1; /* El formulario ocupa todo el espacio restante */
  padding-right: 20px; /* Espacio entre el formulario y la imagen */
}

.form-container form {
  width: 100%; /* El formulario ocupa todo el espacio disponible */
}

.img-container {
  flex: 1; /* La imagen ocupa todo el espacio restante */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
}


h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.form-actions button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Cambia el diseño a columna en pantallas más pequeñas */
  }


}
.img-container {
  flex: 1; /* La imagen ocupa todo el espacio restante */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  overflow: hidden; /* Para que la imagen no desborde del contenedor */
}

.img-container img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente */
  max-height: 100%; /* Altura máxima igual al contenedor */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
