<div class="body-container">
  <form action="https://formspree.io/f/xjkbvbnr" method="post">
    <label for="tour-type">Tipo de tour</label>
    <select id="tour-type" name="tour-type">
      <option value="culture-history">Cultura e Historia</option>
      <option value="honeymoon">Luna de miel</option>
      <option value="business-trip">Viaje de negocios</option>
      <option value="holiday-vacations">Vacaciones de navidad</option>
    </select>

    <label for="travel-with">Con quien viaja</label>
    <select id="travel-with" name="travel-with">
      <option value="alone">Solo</option>
      <option value="with-family">Con Familia</option>
      <option value="with-partner">Con pareja</option>
    </select>

    <label for="budget">Tu presupuesto</label>
    <select id="budget" name="budget">
      <option value="4000-6000">4000-6000</option>
      <option value="6000-8000">6000-8000</option>
      <option value="8000-10000">8000-10000</option>
      <option value="10000-14000">10000-14000</option>
    </select>

    <div class="form-actions">
      <a href="/paquetes-personalizados" class="nav_menu_link link">Atrás</a>
      <input type="submit" value="Enviar" />
    </div>
  </form>
  <div class="img-container">
    <img
      src="https://www.miescape.mx/miescape/Portals/0/Resources/Images/Mexico/Guia%20Turistica/Guanajuato/Guanajuato_dolores_hidalgo_home1_960x640.jpg?ver=2015-03-19-000000-000"
      alt=""
    />
  </div>
</div>
