<div class="accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="false" aria-controls="collapseOne">
        Hoteles
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="hotel" *ngFor="let hotel of hoteles">
          <h2>{{ hotel.nombre_hotel}}</h2>
          <p><strong>Categoría:</strong> {{ hotel.categoria_hotel }}</p>
          <p><strong>Descripción:</strong> {{ hotel.descripcion_hotel }}</p>
          <p><strong>Costo:</strong> {{ hotel.costo_hotel }}</p>
          <p><strong>Servicios:</strong> {{ hotel.servicios_hotel }}</p>
          <p><strong>Típologia:</strong> {{ hotel.tipologia_hotel }}</p>
          <button type="button" class="select-btn" (click)="selectItem(hotel)">Seleccionar</button>
          <hr>
        </div>
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        Restaurantes
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="hotel" *ngFor="let restaurante of restaurantes">
          <h2>{{ restaurante.nombre_restaurante}}</h2>
          <p><strong>Categoría:</strong> {{ restaurante.cate_restaurante }}</p>
          <p><strong>Localización:</strong> {{ restaurante.loca_restaurante }}</p>
          <p><strong>Costo:</strong> {{ restaurante.costo_restaurante }}</p>
          <p><strong>Descripción:</strong> {{ restaurante.descrip_restaurante }}</p>
          <p><strong>Servicios:</strong> {{ restaurante.servicios_restaurante }}</p>
          <button type="button" class="select-btn" (click)="selectItem(restaurante)">Seleccionar</button>
          <hr>
        </div>
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        Guías
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">

      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Transportistas
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">

      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
        aria-expanded="false" aria-controls="collapseFive">
        Museos
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">

      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
        aria-expanded="false" aria-controls="collapseSix">
        Viñedos
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">

      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
        aria-expanded="false" aria-controls="collapseSeven">
        Lugares Turisticos
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">

      </div>
    </div>
  </div>


</div>