<div class="container-title">
  <h1>Creación de Paquetes</h1>
</div>
<hr />

<app-pasos-navegacion [currentStep]="currentStep" />

<section class="container__accordion">

  <div class="seleccion">
    
    <ng-container [ngSwitch]="currentStep">
      <app-acordeon-paquete *ngSwitchCase="1" />
      <app-acordeon-experiencias *ngSwitchCase="2" />
      <app-crear-itinerario *ngSwitchCase="3" />

      <div class="seleccion__buttons">

        <button class="btn btn-secondary mx-3" (click)="previousStep()">Atrás</button>
        <button class="btn btn-primary" (click)="nextStep()">Siguiente</button>

      </div>
    </ng-container>

  </div>

  <!-- Lista del contenido del Paquete Personalizado -->
  <app-contenido-paquete />

</section>