h1{
    margin: 2em 0;

    text-align: center;
}

h2{
    text-align: center;
}

.container__accordion{
    display: grid;
    grid-template-columns: 3fr 2fr;

    margin: 20px;
}

.registro{
    margin-left: 2em;
    border: 1px solid #000;
}