.btn-sm {
  margin-right: 0.5rem;
}

.title {

  display: flex;
  justify-content: center;

  h1 {
      font-size: 4.2rem;
      display: inline-block;
      margin: 2em 0 1.2em;
      padding: 0.5em;
      color: #000;
      border-radius: 15px;
      font-weight: bold;
      margin: 1rem 0;
      background: linear-gradient(135deg, #28153c, #341613, #544a65);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
  }
}

