.main{
    padding: 0 3em;
}

.title{
    display: inline-block;

    margin-top: 1.2em;
    margin-bottom: 0.8em;
    
    border-bottom: 3px solid rebeccapurple;
}

.title--sub{
    margin-top: 0.2em;
    border-bottom: 3px solid rgb(101, 147, 222);
}

.events{
    display: grid;
    grid-template-columns: 4fr 3fr;

    &__title{
        text-align: center;
    }
}