/* Resetear estilos por defecto */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;

}

img {
    max-width: 100%;
    width: 100%;
}

/* Variables de la ṕagina principal */

$color-nav: #332205;
$color-footer: rgb(12, 23, 59);




.link {
    text-decoration: none;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5em;

    padding: 0 5em;

    background-color: $color-nav;

    &__logo {
        display: flex;
        align-items: center;
    }


    &__menu {
        display: flex;
        gap: 3em;
    }

    @media (max-width:764px) {
        flex-direction: column;
        height: 100vh;

        justify-content: center;

        &__logo {
            display: none;
        }

        &__menu {

            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    @media (max-width:100px) {
        justify-content: space-around;


        &__menu {
            display: none;
        }

    }



}

.nav__logo {
    &__img {
        width: 50px;
        margin-bottom: 20px;

        border-radius: 50%;
    }

    &__nombre {
        padding: 0.6em;

        font-size: 2rem;

        color: #fff;
    }
}

.nav__menu {
    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;

        color: #fff;

        @media (hover: hover) {

            &:hover {
                color: #0a58ca;
            }

            color: #fff;
        }

    }
}

.login {


    color: #fff;


    @media (min-width:764px) {
        padding: 4px 20px;

        border-radius: 15px;
        color: #fff;

        background-color: rgb(49, 70, 134);
    }
}

.img-menu {
    @media (min-width:1000px) {
        width: 35px;

        filter: invert(1);
        cursor: pointer;
    }


    @media (min-width:764px) {
        display: none;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 100px;

    color: #fff;

    background-color: $color-footer;
}

/* --host=0.0.0.0 --disable-host-check */