<div class="itinerario">

    <h2>Lista de Actividades a realizar.</h2>
    <hr>

    <div class="itinerario__actividades">

        <div class="itinerario__body">
            <div *ngFor="let activity of activities; let i = index" class="itinerario__item">
                <div class="itinerario__item__date">
                    <label>Fecha</label>
                    <input type="date" name="" id="">
                    <label>Hora:</label>
                    <input type="time">
                </div>
                <label>Descripción:</label>
                <input type="text" >
                <button class="btn btn-danger" (click)="removeActivity(i)">Eliminar</button>
            </div>
        </div>
        <div class="agregar">
            <button class="btn btn-success" (click)="addActivity()">Agregar Actividad</button>
        </div>
    </div>

</div>