.contenidoPaquete {
    display: flex;
    flex-direction: column;

    margin-left: 2em;
    padding: 1em;

    border: 1px solid #000;

    border-radius: 5px;

    &__title {
        text-align: center;
    }

    &__body {}

    &__buttons {
        margin-top: 0.5em;
        margin-left: auto;
        margin-right: auto;
    }
}