<div class="contenidoPaquete">
    <div class="contenidoPaquete__title">
        <h1>Contenido del Paquete</h1>
    </div>

    <div class="contenidoPaquete__body">

        <div class="contenidoPaquete__Servicios">
            <h2>Servicios</h2>
            <ul>
               <!--  <li *ngFor="let item of selectedItems">
                    <hr>
                    <h3>{{ item.name }}</h3>
                    <p><strong>Dirección:</strong> {{ item.address }}</p>
                    <p><strong>Teléfono:</strong> {{ item.phone }}</p>
                    <p><strong>Horarios:</strong> {{ item.schedule }}</p>
                    <p><strong>Descripción:</strong> {{ item.description }}</p>
                    <button class="btn btn-danger" (click)="removeItem(item)">Eliminar</button>
                </li> -->
            </ul>
        </div>

        <div class="contenidoPaquete__Experiencias">
            <h2>Experiencias</h2>
            <ul>
               <!--  <li *ngFor="let item of selectedItems">
                    <hr>
                    <h3>{{ item.name }}</h3>
                    <p><strong>Dirección:</strong> {{ item.address }}</p>
                    <p><strong>Teléfono:</strong> {{ item.phone }}</p>
                    <p><strong>Horarios:</strong> {{ item.schedule }}</p>
                    <p><strong>Descripción:</strong> {{ item.description }}</p>
                    <button class="btn btn-danger" (click)="removeItem(item)">Eliminar</button>
                </li> -->
            </ul>
        </div>

    </div>

    <div class="contenidoPaquete__buttons">
        <button class="btn btn-warning mx-3" (click)="clearItems()">Limpiar Contenido</button>
    </div>
</div>