<div class="contenidoPaquete">
  <div class="contenidoPaquete__title">
    <h1>Contenido del Paquete</h1>
  </div>

  <div class="contenidoPaquete__body">
    <div class="contenidoPaquete__Servicios"> 
      <h2>Servicios</h2>
      <ul>
        <li *ngFor="let item of servicios">
          <h3>
          {{ 
            item.nom_hs || item.nom_transportista || item.nom_guia ||
            item.nombre_museo || item.nombre_vinedo || item.nombre_lugar_turistico
          }}
        </h3>

          <p *ngIf="item.descripcion_hs">
            <strong>Descripción:</strong> {{ item.descripcion_hs }}
          </p>

          <p 
          *ngIf="item.tarifa_trans ">
            <strong>Tarifa:</strong> 
            {{ item.tarifa_trans }}
          </p>

          <p 
          *ngIf="
          item.telefono_guia || item.tel_trans
          ">
            <strong>Telefono:</strong> 
            {{ item.telefono_guia || item.tel_trans}} </p>

          <p  *ngIf="item.email_trans || item.email_guia ">
            <strong>Email:</strong> 
            {{ item.email_trans || item.email_guia }}
          </p>

          <p *ngIf="item.costo_guia || item.costo_hs">
            <strong>Costo:</strong>
             {{ item.costo_guia || item.costo_hs }}
            </p>

          <p *ngIf="item.tipo_vehiculo"><strong>Tipo de Vehículo:</strong> {{ item.tipo_vehiculo }}</p>
          <button class="btn btn-danger" (click)="removeItem(item)">Eliminar</button>
          <hr>
        </li>
      </ul>
    </div>

  <div class="contenidoPaquete__buttons">
    <button class="btn btn-warning " (click)="clearItems()">Limpiar Contenido</button>
  </div>
</div>
 