/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 6em;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

